* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #4c0f68;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 3vi 4vi;
  text-align: center;
}

.timerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.timerForm__input {
  margin: 2vi 0;
  padding: 1vi 2vi;
  max-width: 80%;
  width: 100%;
  font-size: inherit;
}

.timerForm__submit-button {
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.button {
  padding: 1vi 2vi;
  font-size: inherit;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #fff;
  scale: 1.1;
}

.timer {
  max-width: 80%;
  margin: 0 auto;
}

.timer__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1vi;
  justify-content: center;
  align-items: center;
}

.menu-item {
  flex: 1 0 100px;
}

.timer__button {
  margin: 2vi 0;
  min-width: 100px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.timer-display__left-time {
  margin-top: 5vi;
  font-size: 120px;
}

.timer-display__end-time {
  font-size: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
  margin-top: 5vi;
}

@media screen and (max-width: 416px) {
  .timerForm__submit-button {
    max-width: 80%;
    width: 100%;
  }
}
